.sImg {
  width: 80px;
  height: 80px;
  margin-right: 50px;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: scroll 80s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

