input, textarea{
    padding: 12px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 14px;
}

input::placeholder, textarea::placeholder{
    color: grey;
}

.formItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-size: 13px;
}